.header{
    padding: 2vw 0 2vw 0;
    background: #F2F2F2;
}
.header div{
    
    display: flex;
    justify-content: space-around;
}

.header .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.header .texto h2{
    color: #02316B;
    font-size: 4vw;
    font-weight: 800;
    line-height: 1.0;
    margin-bottom: 1.2vw;
}

.header .texto p{
    color: #AAAAAA;
}

.header .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    background-color: rgba(100, 136, 180, 0.2);
    border: none;
    margin-top: 2vw;
    padding: 0.6vw;
    border-radius: 10px;
    font-weight: 600;
    color: #02316B;
}

.header .button span{
    margin-left: 0.5vw;
}

.header .dos{
    display: none;

}